@model OOAD2022.Models.Rezervacija

@{
    ViewData["Title"] = "Details";
}

 @if (User.IsInRole("Administrator"))
 {
<h1>Details</h1>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumDolaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumDolaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumOdlaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumOdlaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uplata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uplata.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smjestaj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smjestaj.SmjestajId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
}