@model IEnumerable<OOAD2022.Models.Smjestaj>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazivSmjestaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresaSmjestaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kontakt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrstaSmjestaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slike)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazivSmjestaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresaSmjestaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kontakt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaSmjestaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slike.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SmjestajId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SmjestajId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SmjestajId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
