@model OOAD2022.Models.Korisnik

@{
    ViewData["Title"] = "Details";
}
 @if (User.IsInRole("Administrator"))
 {
<h1>Details</h1>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnikImeIPrezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnikImeIPrezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lozinka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lozinka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Godiste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Godiste)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KorisnikId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
}